VITE_API_URL=http://localhost:5000/api
VITE_DEMO_USER_ID=11111111-1111-1111-1111-111111111111
VITE_ALGO_NODE_URL=https://testnet-api.algonode.cloud
VITE_ALGO_NODE_PORT=443
VITE_ALGO_NODE_TOKEN=
VITE_ALGO_EXPLORER_BASE_URL=https://testnet.algoexplorer.io/tx/
VITE_ALGO_BUSINESS_WALLET=
